<footer>
    <address>
    <a href="https://goo.gl/maps/A215FmGdPUfckF85A" target="_blank">Ne puteti găsi la adresa Str. Vrăjitoarelor, nr 666.</a><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843007480077!2d26.09739801520322!3d44.435535479102235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1677971826198!5m2!1sro!2sro" 
    width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
    </address>
    <a href="#" class="link-top" title="Top"><span class="triunghi">&#5123;</span></a>
    <a href="mailto:silver-spirita@gmail.com" target="_blank">Contactează-ne prin mail!</a><br>
    <a href="tel@0744433330" target="_blank">Contactează-ne prin telefon!</a><br>
    <a id="whatsapp" href="https://wa.me/744433330" target="_blank" title="WhatsApp"> <img alt="WhatsApp" src="./resurse/imagini/WhatsAppButtonGreenLarge.png"></a><br>
    <small>Copyright &copy;             
    <time datetime="2023-03-06">06 Martie 2023</time>
    </small>
    <p id="banner">Acesta este un proiect școlar!</p>
    <p id="watermark">Steica Malina-Alexa</p>
</footer>  