<header>
            
    <h1><img src="./resurse/imagini/sigla.png" alt="sigla" title="Sigla" id="sigla">Magazin Silver Spirit</h1>
</header>

    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><a href="home"><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span></div></a>
                <ul>
                    <li><a href="#welcome">Bine ați venit!</a></li>
                    <li><a href="Despre">Despre</a></li>
                    <li><a href="#selectie">Produse</a>
                    <li><a href="#bestsellers">Bestsellers</a></li>
                    </li>
                    <li><a href="#oferte">Oferte</a>
                    <li><a href="#extra">Extra</a>
                </ul>
            </li>
            <li><div>Cărți</div>
                <ul>
                    <li><a href="#tarot">Tarot</a></li>
                    <li><a href="#ghid">Ghiduri</a></li>
                    <li><a href="#agende">Agende</a></li>
                </ul>
            </li>
            <li><div>Obiecte Ritual</div>
            <ul>
                <li><a href="#lumanari">Lumânări</a></li>
                <li><a href="#betisoare">Bețisoare</a></li>
                <li><a href="#cristale">Cristale</a></li>
                <li><a href="#diverse">Diverse</a>
                    <ul>
                        <li><a href="#suportl">Suport lumânări</a></li>
                        <li><a href="#suportb">Suport Bețișoare</a></li>
                        <li><a href="#cutiid">Cutii Depozitare</a></li>
                    </ul> <!-- Pe viitor as prefera un dropdown menu aici -->
                </li>
            </ul>
            </li>
            <li><div>Decor</div>
                <ul>
                    <li><a href="#tablouri">Tablouri</a></li>
                    <li><a href="#oglinzi">Oglinzi</a></li>
                    <li><a href="#statuete">Bibelouri</a></li>
                    <li><a href="#vase">Vase și Ustensile</a></li>
                </ul>
            </li>
            <li><div>Bijuterii</div>
                <ul>
                    <li><a href="#inele">Inele</a></li>
                    <li><a href="#pandantive">Pandantive</a></li>
                    <li><a href="#bratari">Brățări</a></li>
                </ul>
            </li>
            <li><div>Coș Cumpărături</div></li>
            <li><div>Cont</div></li>
        </ul>
    </nav>